# IGNORE VIRTUAL ENVIRONMENT FOR THE PROJECT
data_analysis_venv

# IGNORE DATA IN PROJECT 2
project 2/data

# IGNORE DATA IN PROJECT 3
project 3/data

# IGNORE DATA IN END_TO_END ANALYSIS CUSTOMER SHOPPING PROJECT
END_TO_END_ANALYSIS/data

# IGNORE THE MYSQL DATABASE CONNECTIONS CREDENTIALS
END_TO_END_ANALYSIS/.env

# IGNORE MINOR PROJECTS IN SERIES
project 1/
project 2/
project 3/






